integ-proba/output
integ-proba/chapitres/output
git-reminder/git-reminder.aux
git-reminder/git-reminder.fdb_latexmk
git-reminder/git-reminder.fls
git-reminder/git-reminder.log
git-reminder/git-reminder.out
git-reminder/git-reminder.pdf
git-reminder/git-reminder.synctex.gz
git-reminder/git-reminder.synctex(busy)
/output/integ-proba.aux
/output/integ-proba.fdb_latexmk
/output/integ-proba.fls
/output/integ-proba.log
/output/integ-proba.out
/output/integ-proba.pdf
/integ-proba/integ-proba.synctex(busy)
/output/integ-proba.toc
/.idea/math-et-al.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
