# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\César\Info\math-et-al\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
